/* Variáveis Globais */
:root {
    --primary-color: #fff;
    --font-size-large: 5em;
    --fear-greed-color-extreme-fear: #ff0000;
    --fear-greed-color-fear: #ff8000;
    --fear-greed-color-greed: #00cc00;
    --fear-greed-color-extreme-greed: #008000;
    --title-color: #ffcc00;
}

/* Body */
body {
    background-color: #000;
    /* Garante que o fundo geral seja preto */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
}

/* Blockclock Layout */
.blockclock {
    background-color: #000;
    /* Fundo preto explícito */
    border: 5px solid var(--primary-color);
    border-radius: 15px;
    padding: 20px;
    width: 90vw;
    max-width: 600px;
    height: 50vh;
    min-height: 300px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    overflow: hidden;
    z-index: 1;
}

/* Fear and Greed Index */
.fear-greed-index {
    font-size: 1.2em;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 20;
    opacity: 1;
}

.fear-greed-index.loading {
    animation: spin 1s linear infinite;
}

.transaction-fee {
    color: var(--primary-color);
    font-size: 1em;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 10;
}

.transaction-fee.loading {
    animation: spin 1s linear infinite;
}

/* Currency Label */
.currency-label {
    color: var(--primary-color);
    font-size: 1.5em;
    margin-bottom: 10px;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

/* Price Display */
.price-display {
    color: var(--primary-color);
    font-size: var(--font-size-large);
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

/* Title */
.title {
    color: var(--title-color);
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

/* Author */
.author {
    color: var(--primary-color);
    font-size: 1em;
    position: absolute;
    bottom: 10px;
    left: 20px;
    z-index: 10;
}

/* Price Variation */
.price-variation {
    color: var(--primary-color);
    font-size: 1.2em;
    position: absolute;
    bottom: 10px;
    right: 20px;
    z-index: 10;
}

.price-variation.loading {
    animation: spin 1s linear infinite;
}

/* Chart */
#price-chart {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

/* Animações */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Media Queries */
@media (max-width: 600px) {
    .price-display {
        font-size: 3em;
    }

    .fear-greed-index {
        font-size: 1em;
    }

    .transaction-fee {
        font-size: 0.8em;
    }

    .price-variation {
        font-size: 1em;
    }
}