body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}

.blockclock {
    background-color: #000;
    border: 5px solid #fff;
    border-radius: 15px;
    padding: 20px;
    width: 600px;
    height: 300px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

.transaction-fee {
    color: #fff;
    font-size: 1em;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 10;
}

.currency-label {
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.price-display {
    color: #fff;
    font-size: 5em;
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.title {
    color: #ffcc00;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.author {
    color: #fff;
    font-size: 1em;
    position: absolute;
    bottom: 10px;
    left: 20px;
    z-index: 10;
}

.price-variation {
    color: #fff;
    font-size: 1.2em;
    position: absolute;
    bottom: 10px;
    right: 20px;
    z-index: 10;
}

#price-chart {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}